html{
    height: 100%;
}

body{
    background-color:#fae3d9 ;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    
}

#email{
    border-color: black;
    background-color: rgb(210, 210, 210);
    outline-color: red;
}

#message{
    border-color: black;
    background-color: rgb(210, 210, 210);
    outline-color: red;
}

#name{
    border-color: black;
    background-color: rgb(210, 210, 210);
    outline-color: red;
}

*{
    margin: 0px;
}

.form-wrapper{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}


